## Aufgaben zu List Comprehensions


1. Erstellen Sie eine neue Liste mit dem Namen double_nums, indem Sie jede Zahl in nums mit zwei multiplizieren.

In [ ]:
nums = [4, 8, 15, 16, 23, 42]

2. Sie haben eine Liste mit den Zahlen zwischen 0 und 10 erhalten. Wir haben diese Liste mit der range-funktion erstellt! Erstellen Sie eine neue Liste mit dem Namen squares, die das Quadrat jeder Zahl in dieser Liste enthält.

In [1]:
nums = range(11)

3. Erstellen Sie eine neue Liste mit dem Namen add_ten, die zehn zu jedem Element in der Liste nums hinzufügt.

In [ ]:
nums = [4, 8, 15, 16, 23, 42]

4. Erstellen Sie eine neue Liste mit dem Namen divide_by_two, die die Hälfte jedes Elements in der Liste nums enthält. Stellen Sie sicher, dass Sie durch 2 teilen, nicht durch 2.0!

In [ ]:
nums = [4, 8, 15, 16, 23, 42]

5. Erstellen Sie eine neue Liste mit dem Namen Parität, die für jedes Element von nums eine 1 oder eine 0 enthält. Für jedes Element, wenn dieses Element gerade war, sollte die neue Liste eine 0 enthalten. War das Element ungerade, sollte die neue Liste eine 1 enthalten.

In [ ]:
nums = [4, 8, 15, 16, 23, 42]

6. Erstellen Sie eine neue Liste mit dem Namen greetings, die vor jedem Namen in den Listennamen "Hallo, " hinzufügt.

In [ ]:
names = ["Peter", "Pan", "Captain", "Hook"]

7. Erstellen Sie eine neue Liste mit dem Namen first_character, die das erste Zeichen von jedem Namen in der Liste names enthält.

8. Erstellen Sie eine neue Liste namens lengths, die die Länge jedes Namens in der Liste names enthält.

9. Erstellen Sie eine neue Liste mit dem Namen opposite, die für jedes Element in der Liste booleans das entgegengesetzte Boolean enthält.

In [ ]:
booleans = [True, False, True]

10. Erstellen Sie eine neue Liste namens is_captain, in der ein Eintrag an Position i True ist, wenn der Eintrag in Namen an Position i gleich "Captain" ist. Andernfalls sollte der Eintrag False lauten.

In [ ]:
names = ["Peter", "Pan", "Captain", "Hook"]

11. Erstellen Sie eine neue Liste namens greater_than_two, in der ein Eintrag an Position i True ist, wenn der Eintrag in nums an Position i größer als 2 ist.

In [ ]:
nums = [5, -10, 40, 20, 0]

12. Erstellen Sie eine neue Liste mit dem Namen product, die das Produkt jeder Teilliste von nested_lists enthält.

In [ ]:
nested_lists = [[4, 8], [15, 16], [23, 42]]

13. Erstellen Sie eine neue Liste mit dem Namen greater_than, die True enthält, wenn die erste Zahl in der Teilliste größer als die zweite Zahl in der Teilliste ist, und andernfalls False.

14. Erstellen Sie eine neue Liste mit dem Namen first_only, die das erste Element in jeder Unterliste von nested_lists enthält.

15. Verwenden Sie das List Comprehension und die zip Funktion, um eine neue Liste mit dem Namen Summen zu erstellen, die die entsprechenden Elemente in den Listen a und b summiert. Zum Beispiel sollte das erste Element in der neuen Liste 5 aus der Addition von 1 und 4 zusammen sein.

In [ ]:
a = [1.0, 2.0, 3.0]
b = [4.0, 5.0, 6.0]

16. Verwenden Sie List Comprehension und die zip Funktion, um eine neue Liste mit dem Namen Quotienten zu erstellen, die die Elemente in Liste b durch die in Liste a teilt. Beispielsweise sollte das zweite Element in der neuen Liste 2,5 aus der Division von 5,0 durch 2,0 sein.

In [2]:
a = [1.0, 2.0, 3.0]
b = [4.0, 5.0, 6.0]

17. Sie haben zwei Listen erhalten: eine Liste der Hauptstädte und eine Liste der Länder. Erstellen Sie eine neue Liste mit Namen von Orten, die die Zeichenfolge "Hauptstadt, Land" für jedes Element in den ursprünglichen Listen enthält. Wenn z.B. das fünfte Element in der Hauptstadtliste "Lima" und das fünfte Element in der Länderliste "Peru" ist, dann sollte der fünfte Eintrag in der neuen Liste "Lima, Peru" lauten.

In [3]:
capitals = ["Santiago", "Paris", "Copenhagen"]
countries = ["Chile", "France", "Denmark"]

18. Sie haben zwei Listen erhalten: eine Namensliste und eine Altersliste. Erstellen Sie eine neue Liste mit Namen von Benutzern, die die Zeichenfolge "Name: name, Age: age" für jedes Paar von Elementen in den ursprünglichen Listen enthält. Wenn z.B. das fünfte Element in der Namensliste "Aiyana" und das fünfte Element im Alter 42 ist, dann sollte dar fünfte Eintrag in der neuen Liste "Name: Aiyana, Age: 42" sein.

In [4]:
names = ["Jon", "Arya", "Ned"]
ages = [14, 9, 35]

19. Erstellen Sie eine neue Liste mit dem Namen greater_than, die True oder False enthält, je nachdem, ob der entsprechende Eintrag in Liste a größer ist als der in Liste b. Wenn beispielsweise der zweite Eintrag in Liste a 3 ist und der zweite Eintrag in Liste b 5 ist, sollte der zweite Eintrag in der neuen Liste False sein.

In [ ]:
a = [30, 42, 10]
b = [15, 16, 17]